# Twitter Data Collection
The goal of this is to collect data from Twitter.

If you run into an issue this can typically handle it. 
`jupyter notebook --NotebookApp.iopub_data_rate_limit=1.0e10`

In [1]:
#This will import some required libraries.
import sys 
import ruamel.yaml 
#This is your configuration file. 
general_yaml='../../config/config.yaml'
with open(general_yaml, 'r') as yaml:
    cf=ruamel.yaml.round_trip_load(yaml, preserve_quotes=True)

twitter_yaml='../../config/twitter/config.yaml'
with open(twitter_yaml, 'r') as yaml_t:
    cf_t=ruamel.yaml.round_trip_load(yaml_t, preserve_quotes=True)


    #This will allow us to import some useful utilities. 
if cf['docker']:
    cf_t['path']=cf['docker_path']
else:
    cf_t['path']=cf['local_path']

sys.path.append(cf_t['path']+"/twitterutils") 
import importlib
import twitterutils as tu 
importlib.reload(tu)
#initialize some variables.
cf_t=tu.twitter_init(cf_t)
#print(ruamel.yaml.dump(cf_g, sys.stdout, Dumper=ruamel.yaml.RoundTripDumper))

In [27]:
import pandas as pd
df=pd.DataFrame.from_csv(cf_t['names_path'])
df=df.drop_duplicates(subset='screen_name', keep="first")
','.join(list(df['screen_name']))
df[0:49]

           screen_name
index
1      jasonkuruzovich
2        analyticsdojo
4                    4
5                    5
6                    6
7                    7
8                    8
9                    9
10                  10
11                  11
12                  12
13                  13
14                  14
15                  15
16                  16
17                  17
18                  18
19                  19
20                  20
21                  21
22                  22
23                  23
24                  24
25                  25
26                  26
27                  27
28                  28
29                  29
30                  30
31                  31
32                  32
33                  33
34                  34
35                  35
36                  36
37                  37
38                  38
39                  39
40                  40
41                  41
42                  42
43                  43
44                  44
45                  45
46                  46
47                  47
48                  48
49                  49
50                  50

In [29]:
s=0
for i in range(math.ceil(len(df)/50)):
    #val=','.join(list(df[s:(s+49)]))
    val=df[s:(s+49)]
    print(val)
    s+=49

           screen_name
index
1      jasonkuruzovich
2        analyticsdojo
4                    4
5                    5
6                    6
7                    7
8                    8
9                    9
10                  10
11                  11
12                  12
13                  13
14                  14
15                  15
16                  16
17                  17
18                  18
19                  19
20                  20
21                  21
22                  22
23                  23
24                  24
25                  25
26                  26
27                  27
28                  28
29                  29
30                  30
31                  31
32                  32
33                  33
34                  34
35                  35
36                  36
37                  37
38                  38
39                  39
40                  40
41                  41
42                  42
43                  43
44                  44
45                  45
46                  46
47                  47
48                  48
49                  49
50                  50
      screen_name
index
51             51
52             52
53             53
54             54
55             55
56             56
57             57
58             58
59             59
60             60
61             61
62             62
63             63
64             64
65             65
66             66
67             67
68             68
69             69
70             70
71             71
72             72
73             73
74             74
75             75
76             76
77             77
78             78
79             79
80             80
81             81
82             82
83             83
84             84
85             85
86             86
87             87
88             88
89             89
90             90
91             91
92             92
93             93
94             94
95             95
96             96
97             97
98             98
99             99
      screen_name
index
100           100
101           101
102           102
103           103
104           104
105           105
106           106
107           107
108           108
109           109
110           110
111           111
112           112
113           113
114           114

In [12]:
import math
for loop in (math.ceil(len(df)/50)):
    print(loop)

TypeError: 'int' object is not iterable

In [4]:
twitter= tu.create_twitter_auth(cf_t)

In [6]:
#This will collect user profiles. 
importlib.reload(tu)
profiles_fn=tu.get_profiles(twitter, df['screen_name'], cf_t)

Searching twitter for User profile:  jasonkuruzovich
user 491
user 0
Searching twitter for User profile:  analyticsdojo
user 491
user 0

In [61]:
#This will collect user timelines.
importlib.reload(tu)
tu.profiles_to_timelines(twitter, profiles_fn, cf_t)

user: JasonKuruzovich Total tweets: 490 File tweets: 490
Got them all
user: dflanegan Total tweets: 9964 File tweets: 3198
Go get some more
Getting data for:  dflanegan
Got 0 new tweets for dflanegan...
Retreived tweets for  2  profiles.

In [117]:
print(cf_t['names_path'])
import csv
with open(cf_t['names_path'], 'r') as f:
    reader = csv.reader(f)
    names = pd.DataFrame(reader)
print(type(names))
print(names)

/Users/jasonkuruzovich/githubdesktop/admin-tools/config/twitter/screen_names.csv

TypeError: data argument can't be an iterator

In [128]:
#profile_last_update	profile_total_tweets	timeline_last_update	timeline_total_tweets	timeline_limit	timeline_limit_date
import pandas as pd
df=pd.DataFrame.from_csv(cf_t['names_path'])
df=names.drop_duplicates(subset='screen_name', keep="first")
for index, name in df.iterrows():
    print(row['screen_name'])

jasonkuruzovich
analyticsdojo

In [95]:
names.DataFrame.to_csv(cf_t['names_path'])

AttributeError: 'DataFrame' object has no attribute 'DataFrame'

In [ ]:
import csv, codecs
import sys, re
import os.path
import json
from dateutil import parser
tweetfile = file("historical-tweets.csv", "w")
tweetwriter = csv.writer(tweetfile)

retweetfile = file("historical-retweets.csv", "w")
retweetwriter = csv.writer(retweetfile)